<!--Footer-->
<footer class="page-footer pt-4 mt-4   text-center text-md-left" id="contactUs">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-4 text-center">
                <h5 class="text-uppercase font-weight-bold">Address</h5>
                <p>Pizza Paradise</p>
                <p>1234 Sunset ABC,
                    Hoang Quoc Viet, Hanoi</p>
                <!--Social buttons-->
                <hr>
                <h5 class="text-uppercase font-weight-bold">Connect Us</h5>
                <div class="mb-3">
                    <a class="btn-floating btn-sm btn-fb" type="button" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn-sm btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
                    <a class="btn-floating btn-sm btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn-sm btn-ins" type="button" role="button"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <!--/.Social buttons-->
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Delivery hours</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 7:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 10:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>

            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Take out hours</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 8:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 11:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright pt-3 text-center">
        <div class="container-fluid">
            <p>From <strong>Pizza Paradise</strong> with love!</p>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="/js/popper.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/mdb.min.js"></script>

<script type="text/javascript" src="/js/login_script.js"></script>

</body>

</html>