<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza Home restaurant</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Boostrap 4 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <!-- Custom stylesheet-->
    <link rel="stylesheet" href="css/logincontainer.css">
    <!-- Google font Sniglet -->
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <!-- Google font Indie Flower -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
</head>
<body>

<!--<div class="alert alert-warning alert-dismissible fade show" role="alert">-->
    <!--<strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
<!--</div>-->
<!-- flash alert-->
<div class="text-center">
    <% if(error && error.length>0){ %>
        <div class="alert alert-danger mb-0 alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if(success && success.length>0){ %>
        <div class="alert alert-success mb-0 alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }   %>
</div>
